streamlit
streamlit-option-menu
firebase-admin
python-dotenv
numpy
Pillow
opencv-python-headless
scikit-learn
scipy
h5py
tensorflow==2.15.0
tf-keras
keras
deepface
retina-face
mtcnn
mysql-connector-python
bcrypt
anthropic
flask
flask-cors
gdown
fire
gunicorn
plotly
